header {
    background-color: #ff3300;
    text-align: center;
    padding: 70px;
    border-width: 70px;
}

body {
    background-color: #ffc2b3;
    font-family: Arial, Helvetica, sans-serif;
}

div.vzorce {
    width: 400px;
    padding-left: 50px;
    background-color: #ff9980;
    border: 4px solid black;
    border-radius: 50px;
    /*position: sticky; left: 100px; top: 250px;*/
}

div.kalkulacka {
     
}

div.volba {
    padding-left: -100px;
}

h1 {
    color: white;
    margin-block: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    padding-top: 30px;
    padding-left: 50px;
}

p.dve {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    padding-left: 50px;
}

input.zadani {
    padding-left: 50 px;
}

li {
    padding-left: 70px;
}
